.chart {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 100px;
	height: 100px;

	svg {
		transform: rotate(-90deg);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}

	circle {
		fill: transparent;
		stroke: rgb(255, 255, 255);
		stroke-width: 2;
	}
}
