.social {
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;

	&__link {
		display: inline-block;
		vertical-align: middle;
		padding: 7px;
		margin: 0 4px;
		background: white;
	}
}
